.button {
    margin: 0;
    padding: 0;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    background: var(--main-color);
    border: 3px solid transparent;
}

.button:hover {
    border: 3px solid var(--main-color);
    color: var(--main-color);
    background: transparent;
}