.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 35px 0 32px 0;
    background: var(--footer-background);
    &__container {
        max-width: 1147px;
        display: flex;
        align-items: center;
    }

    &__right {
        max-width: 940px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 59px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        margin: 0;
        padding: 0;
    }

    &__item + &__item {
        margin-left: 32px;
    }

    &__nav-link {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: var(--desc-color);
    }

    &__nav-link:hover {
        color: var(--main-color);
    }

    &__right--icons-box {
        max-width: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        transition: all 0.4s;
        color: #FCB72B;
        text-decoration: none;
    }

    &__icon:hover {
        color: white;
    }
}

@media only screen and (max-width: 592px) {
    .footer {
        padding: 64px 0 88px 0;
        &__container {
            flex-direction: column;
        }

        &__logo {
            margin-bottom: 41px;
        }

        &__right {
            margin: 0;
            flex-direction: column;
        }

        &__list {
            flex-direction: column;
            margin-bottom: 69px;
        }

        &__item {
            margin-bottom: 16px;
        }

        &__item + &__item {
            margin-left: 0;
        }
    }
}