.opportunity {
    margin-bottom: 200px;
    &__container {
        margin: 0 auto;
        padding: 0;
    }

    &__img-box {
        margin-bottom: 40px;
        padding-right: 419px;
    }

    &__list {
        max-width: 1110px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        max-width: 350px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    &__item + &__item {
        margin-left: 30px;
    }

    &__heading {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: var(--background);
        margin-bottom: 27px;
    }

    &__desc {
        margin: 0;
        padding: 0;
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: var(--desc-color);
    }
}

@media only screen and (max-width: 1320px) {
    .opportunity__img-box {
        padding-right: 390px;
    }
}

@media only screen and (max-width: 1250px) {
    .opportunity__img-box {
        padding-right: 360px;
    }
}

@media only screen and (max-width: 1180px) {
    .opportunity__img-box {
        padding-right: 330px;
    }
}

@media only screen and (max-width: 1150px) {
    .opportunity {
        &__container {
            max-width: 613px;
            padding: 0 20px;
            display: flex;
            align-items: flex-end;
        }

        &__img-box {
            margin: 0;
            padding: 0;
            margin-right: 79px;
            max-width: 96px;
            width: 100%;
            height: 558px;
            background-image: url(../images/opportunity_tablet.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &__img {
            display: none;
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: -40px;
        }

        &__item {
            max-width: 398px;
            margin-bottom: 40px;
        }


        &__item + &__item {
            margin-left: 0;
        }

        &__heading {
            margin-bottom: 27px;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
        }

        &__desc {
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}

@media only screen and (max-width: 592px) {
    .opportunity {
        margin-bottom: 120px;
        &__container {
            max-width: 351px;
            padding: 80px 20px 0 20px;
            align-items: center;
            background-image: url(../images/opportunity_mobile.png);
            background-repeat: no-repeat;
            background-position: top center;
        }

        &__img-box {
            display: none;
        }

        &__list {
            flex-direction: column;
            align-items: center;
            margin-bottom: -128px;
        }

        &__item {
            max-width: 311px;
            margin-bottom: 128px;
        }

        &__heading {
            margin-bottom: 24px;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.892857px;
        }

        &__desc {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }
    }
}